#map{
    height: 700px;
    width: 100%;
    margin-top: 80px;
}
#getRoute{
    width: 150px;
    height: 40px;
    border: none;
    outline: none;
    color: black;
    background: blanchedalmond;
  /* background-image: -webkit-linear-gradient(top, #5282d4, #28667d);
  background-image: -moz-linear-gradient(top, #5282d4, #28667d);
  background-image: -ms-linear-gradient(top, #5282d4, #28667d);
  background-image: -o-linear-gradient(top, #5282d4, #28667d);
  background-image: linear-gradient(to bottom, #5282d4, #28667d); */
   /* cursor: pointer;*/
   /* position: absolute;*/
    /*z-index: 0;*/
     margin: 0;
 /* position: absolute;*/
  top: 50%;
  /* -ms-transform: translateY(-50%);
  transform: translateY(-50%); */
    border-radius: 18px;
    top: 100px;
    left: 440px;
    font-family: Quicksand;
    font-size: large;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px rgb(12, 12, 12);
}
#getRoute:hover {background-color : burlywood}

#getRoute:active {
    background-color : burlywood;
  box-shadow: 0 5px rgb(20, 20, 20);
  transform: translateY(3px);
}
#getRoute1{
    width: 150px;
    height: 40px;
    border: none;
    outline: none;
    color: black;
    background: blanchedalmond;
  /* background-image: -webkit-linear-gradient(top, #5282d4, #28667d);
  background-image: -moz-linear-gradient(top, #5282d4, #28667d);
  background-image: -ms-linear-gradient(top, #5282d4, #28667d);
  background-image: -o-linear-gradient(top, #5282d4, #28667d);
  background-image: linear-gradient(to bottom, #5282d4, #28667d); */
   /* cursor: pointer;*/
   /* position: absolute;*/
    /*z-index: 0;*/
     margin: 0;
     font-size: large;
  position: absolute;
    border-radius: 18px;
    top: 110px;
    left: 1200px;
    font-family: Quicksand;
    box-shadow: 0 4px rgb(12, 12, 12);
    /* font-size: large; */
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
}
#getRoute1:hover {background-color : burlywood}

#getRoute1:active {
    background-color : burlywood;
  box-shadow: 0 5px rgb(20, 20, 20);
  transform: translateY(3px);
}
.elemnnum{

    position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
   
}
#dist{
    font-family: Quicksand;
    font-weight: 800;
    margin-bottom: 50px;
    margin-top: 50px;
    text-align: center;
    text-shadow: 1px 1px #FF0000;
    background-color: blanchedalmond;

}
#uppr{
    margin-top: 30px;
   /* margin-left: 220px;
    margin-right: 200px;*/
    width: 100%;
    
}
#to{
   /* margin-left: 260px;
    margin-right: 260px;*/
}
#Places{
    height: 50px;
    width: 320px;
    border-radius: 15px;
    color: black;
    background-color: #cccccc ;
    outline: none;
    box-shadow: 2px 5px black;
    text-shadow: 1px 0px #FF0000;
}
#Places1{
    height: 50px;
    width: 320px;
    border-radius: 15px;
    color: black;
    background-color: #cccccc ;
    outline: none;
    box-shadow: 2px 5px black;
    text-shadow: 1px 0px #FF0000;
}
